<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate News Articles</title>
  </head>

  <body>
    <header>
      <div class='logo' id='logo' class="">Logo</div>
      <h1 class="header">
        Sentiment Analysis
      </h1>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="text"
            name="input"
            value=""
            onblur=''
            placeholder="Please enter URL"
          />
          <button
          class="btn"
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          >Submit</button>

        </form>
      </section>
      <section>
        <strong><ul id="result">
          Form Results:</strong>

        </ul> 
      </section>
    </main>

    <footer>
    <p>Ali Eltahan &copy; - 2021</p>
        
    </footer>
    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
